<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print"
  onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  @media screen and (min-width: 750px) {
    header-drawer {
      display: none;
    }
  }

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  .list-menu__item {
    color: white;
    font-size: 16px;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}

{{ section.settings.menu_font | font_face }}

.list-menu__item, .email-support {
font-family: {{ section.settings.menu_font.family }};
font-weight: {{ section.settings.menu_font.weight }};
font-style: {{ section.settings.menu_font.style }};
}

.section-header {
margin-bottom: {{section.settings.margin_bottom | times: 0.75 | round: 0}}px;
}

@media screen and(min-width: 750px) {
.section-header {
margin-bottom: {{section.settings.margin_bottom}}px;
}
}

{%- endstyle -%}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z"
      fill="currentColor" />
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path
      d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z"
      fill="currentColor">
  </symbol>

  <symbol id="icon-search-custom" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
  </symbol>

</svg>
<!-- <{% if section.settings.enable_sticky_header and template.name != 'product' %}sticky-header{% else %}div{% endif %}
  class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}"> -->
<header
  class="header header--{{ section.settings.logo_position }} page-width{% if section.settings.menu != blank %} header--has-menu{% endif %}">
  {%- if section.settings.menu != blank -%}
  <header-drawer data-breakpoint="tablet">
    <details id="Details-menu-drawer-container" class="menu-drawer-container">
      <summary class="header__icon header__icon--menu header__icon--summary link focus-inset"
        aria-label="{{ 'sections.header.menu' | t }}">
        <span>
          {% render 'icon-hamburger' %}
          {% render 'icon-close' %}
        </span>
      </summary>
      <div id="menu-drawer" class="menu-drawer motion-reduce" tabindex="-1">
        <div class="menu-drawer__inner-container">
          <div class="menu-drawer__navigation-container">
            <nav class="menu-drawer__navigation">
              <ul class="menu-drawer__menu list-menu" role="list">
                {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                  <div class="menu-drawer__menu-item list-menu__item link-list-label collapsible" active="false"
                    id="header-link{{ forloop.index }}">{{- link.title | escape -}}</div>
                  <ul class="footer-block__details-content list-unstyled link-list-item footer-content">
                    {%- for childlink in link.links -%}
                    <li>
                      <a href="{{ childlink.url }}" class="link link--text list-menu__item list-menu__item--link">
                        {{ childlink.title | escape }}
                      </a>
                    </li>
                    {%- endfor -%}
                  </ul>
                  {%- else -%}
                  <a href="{{ link.url }}"
                    class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                    {% if link.current %} aria-current="page" {% endif %}>
                    {{ link.title | escape }}
                  </a>
                  {%- endif -%}
                </li>
                {%- endfor -%}
              </ul>
            </nav>
            <div class="menu-drawer__utility-links">
              {%- if shop.customer_accounts_enabled -%}
              <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="menu-drawer__account link focus-inset h5">
                {% render 'icon-account' %}
                {%- liquid
                if customer
                echo 'customer.account_fallback' | t
                else
                echo 'customer.log_in' | t
                endif
                -%}
              </a>
              {%- endif -%}
              <ul class="list list-social list-unstyled" role="list">
                {%- if settings.social_twitter_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                    {%- render 'icon-twitter' -%}
                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                  </a>
                </li>
                {%- endif -%}
                {%- if settings.social_facebook_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                    {%- render 'icon-facebook' -%}
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                  </a>
                </li>
                {%- endif -%}
                {%- if settings.social_pinterest_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                    {%- render 'icon-pinterest' -%}
                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                  </a>
                </li>
                {%- endif -%}
                {%- if settings.social_instagram_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                    {%- render 'icon-instagram' -%}
                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                  </a>
                </li>
                {%- endif -%}
                {%- if settings.social_tiktok_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                    {%- render 'icon-tiktok' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                  </a>
                </li>
                {%- endif -%}
                {%- if settings.social_tumblr_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                    {%- render 'icon-tumblr' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                  </a>
                </li>
                {%- endif -%}
                {%- if settings.social_snapchat_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                    {%- render 'icon-snapchat' -%}
                    <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                  </a>
                </li>
                {%- endif -%}
                {%- if settings.social_youtube_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                    {%- render 'icon-youtube' -%}
                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                  </a>
                </li>
                {%- endif -%}
                {%- if settings.social_vimeo_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                    {%- render 'icon-vimeo' -%}
                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                  </a>
                </li>
                {%- endif -%}
                <li class="list-social__item">
                  <a href="mailto:support@gmg-performance.com" class="link list-social__link">
                    <svg class="mail-icon icon" width="28" height="28" viewBox="0 0 24 24" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M3.00977 5.83789C3.00977 5.28561 3.45748 4.83789 4.00977 4.83789H20C20.5523 4.83789 21 5.28561 21 5.83789V17.1621C21 18.2667 20.1046 19.1621 19 19.1621H5C3.89543 19.1621 3 18.2667 3 17.1621V6.16211C3 6.11449 3.00333 6.06765 3.00977 6.0218V5.83789ZM5 8.06165V17.1621H19V8.06199L14.1215 12.9405C12.9499 14.1121 11.0504 14.1121 9.87885 12.9405L5 8.06165ZM6.57232 6.80554H17.428L12.7073 11.5263C12.3168 11.9168 11.6836 11.9168 11.2931 11.5263L6.57232 6.80554Z"
                        fill="currentColor" />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </details>
  </header-drawer>
  {%- endif -%}

  {%- if section.settings.logo_position == 'top-center' or section.settings.menu == blank -%}
  <details-modal class="header__search">
    <details id="header-search-details">
      <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle"
        aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
        <span>
          <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
            <use href="#icon-search">
          </svg>
          <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
            <use href="#icon-close">
          </svg>
        </span>
      </summary>
      <div class="search-modal modal__content" role="dialog" aria-modal="true"
        aria-label="{{ 'general.search.search' | t }}">
        <div class="modal-overlay"></div>
        <div
          class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}"
          tabindex="-1">
          {%- if settings.predictive_search_enabled -%}
          <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
            {%- endif -%}
            <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
              <div class="field">
                <input class="search__input field__input" id="Search-In-Modal-1" type="search" name="q" value=""
                  placeholder="{{ 'general.search.search' | t }}" {%- if settings.predictive_search_enabled -%}
                  role="combobox" aria-expanded="false" aria-owns="predictive-search-results-list"
                  aria-controls="predictive-search-results-list" aria-haspopup="listbox" aria-autocomplete="list"
                  autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false" {%- endif -%}>
                <label class="field__label" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
                <input type="hidden" name="options[prefix]" value="last">
                <input type="hidden" name="type" value="product">
                <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                  <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                    <use href="#icon-search">
                  </svg>
                </button>
              </div>

              {%- if settings.predictive_search_enabled -%}
              <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                <div class="predictive-search__loading-state">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
              </div>

              <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
              {%- endif -%}
            </form>
            {%- if settings.predictive_search_enabled -%}
          </predictive-search>
          {%- endif -%}
          <button type="button" class="modal__close-button link link--text focus-inset"
            aria-label="{{ 'accessibility.close' | t }}">
            <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-close">
            </svg>
          </button>
        </div>
      </div>
    </details>
  </details-modal>
  {%- endif -%}

  <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
    {%- assign image_size = section.settings.logo_width | append: 'x' -%}
    <img class="header__heading-logo no-hover-logo" src="{{ section.settings.logo_no_hover | img_url: '550x' }}"
      alt="logo no hover">
    <img class="header__heading-logo hover-logo" src="{{ section.settings.logo_hover | img_url: '550x' }}"
      alt="logo hover">
  </a>

  {%- if section.settings.menu != blank -%}
  <nav class="header__inline-menu">
    <ul class="list-menu list-menu--inline" role="list">
      {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.title == "Products" -%}
        <div id="Details-HeaderMenu-{{ forloop.index }}">
          <div class="dropdown-summary header__menu-item list-menu__item link focus-inset">
            <span class="dropdown-list">
              <span class="link-title{%- if link.child_active %} header__active-menu-item{% endif %}">
                {{ link.title | escape }}
              </span>
            </span>
          </div>
          <div class="drop-down-menu-grid">
            {%- for block in section.blocks -%}
            {%- if block.type == "menu_item" -%}
            <div class="drop-down-menu_item">
              <a href="{{ block.settings.link_url }}" class="full-unstyled-link">
                <div class="menu_item-image">
                  <img src="{{ block.settings.menu_image | img_url: '300x' }}"
                    alt="{{ block.settings.menu_image.alt | escape }}">
                </div>
                <div class="menu_item-title">
                  <span>{{ block.settings.link_text }}</span>
                </div>
              </a>
            </div>
            {%- endif -%}
            {%- endfor -%}
          </div>
        </div>

        {%- endif -%}

        {%- if link.links == blank -%}
        <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"
          {% if link.current %} aria-current="page" {% endif %}>
          <span class="link-title{%- if link.current %}header__active-menu-item{% endif %}">{{ link.title | escape
            }}</span>
        </a>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  </nav>
  {%- endif -%}

  <div class="header__icons">

    {%- if shop.customer_accounts_enabled -%}
    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
      class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
      {% render 'icon-account' %}
      <span class="visually-hidden">
        {%- liquid
        if customer
        echo 'customer.account_fallback' | t
        else
        echo 'customer.log_in' | t
        endif
        -%}
      </span>
    </a>
    {%- endif -%}

    <!-- cart-drawer-menu -->
    <div id="cart-drawer-details">
      <div class="header__icon header__icon--cart link focus-inset"><a href="/cart">{% render 'icon-cart' %}</a>
      </div>

    </div>
</header>

<script type="application/ld+json"></script>

{%- if request.page_type == 'index' -%}
{% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
<script type="application/ld+json"></script>
{%- endif -%}

{% schema %}
{
"name":"t:sections.header.name",
"class":"section-header",
"settings":[
{
"type":"font_picker",
"label":"Menu Font",
"id":"menu_font",
"default":"helvetica_n4"
},
{
"type": "image_picker",
"label": "logo no hover",
"id": "logo_no_hover"
},
{
"type": "image_picker",
"label": "Logo hover",
"id": "logo_hover"
},
{
"type":"select",
"id":"color_scheme",
"options":[
{
"value":"accent-1",
"label":"t:sections.header.settings.color_scheme.options__1.label"
},
{
"value":"accent-2",
"label":"t:sections.header.settings.color_scheme.options__2.label"
},
{
"value":"background-1",
"label":"t:sections.header.settings.color_scheme.options__3.label"
},
{
"value":"background-2",
"label":"t:sections.header.settings.color_scheme.options__4.label"
},
{
"value":"inverse",
"label":"t:sections.header.settings.color_scheme.options__5.label"
}
],
"default":"background-1",
"label":"t:sections.header.settings.color_scheme.label"
},
{
"type":"range",
"id":"logo_width",
"min":50,
"max":250,
"step":10,
"default":100,
"unit":"t:sections.header.settings.logo_width.unit",
"label":"t:sections.header.settings.logo_width.label"
},
{
"type":"select",
"id":"logo_position",
"options":[
{
"value":"middle-left",
"label":"t:sections.header.settings.logo_position.options__1.label"
},
{
"value":"top-left",
"label":"t:sections.header.settings.logo_position.options__2.label"
},
{
"value":"top-center",
"label":"t:sections.header.settings.logo_position.options__3.label"
}
],
"default":"middle-left",
"label":"t:sections.header.settings.logo_position.label",
"info":"t:sections.header.settings.logo_position.info"
},
{
"type":"link_list",
"id":"menu",
"default":"main-menu",
"label":"t:sections.header.settings.menu.label"
},
{
"type":"checkbox",
"id":"show_line_separator",
"default":true,
"label":"t:sections.header.settings.show_line_separator.label"
},
{
"type":"checkbox",
"id":"enable_sticky_header",
"default":true,
"label":"t:sections.header.settings.enable_sticky_header.label",
"info":"t:sections.header.settings.enable_sticky_header.info"
},
{
"type":"header",
"content":"t:sections.all.spacing"
},
{
"type":"range",
"id":"margin_bottom",
"min":0,
"max":100,
"step":4,
"unit":"px",
"label":"t:sections.header.settings.margin_bottom.label",
"default":0
}
],
"blocks":[
{
"name":"Vertical Menu Item",
"type":"menu_item",
"settings":[
{
"type":"image_picker",
"id":"menu_image",
"label":"image"
},
{
"type":"text",
"id":"link_text",
"label":"Text"
},
{
"type":"url",
"id":"link_url",
"label":"Link"
}
]
}
]
}
{% endschema %}